body {
    justify-content: center;
    

}


h2 {
    text-align: center;
    margin-bottom: 0px;
}

.center {
    text-align: center;
    margin-top: 0px;
}


.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



img {
   width: 200px;
   height: 320px;
   margin-left: 10px;
   margin-bottom: 50px;
   padding-top: 0px;
   
   
   
}

.item {
    flex-wrap: wrap;
}



.relaxed {
    display: inline;
}


.tee {
    
    
    padding-top: 0px;
    line-height: 0px;
    justify-content: center;
    border: 1px solid rgb(214, 214, 214);
    border-left: 0px solid rgb(214, 214, 214);
    
}


.Levi {
    
    box-sizing: border-box;
}



