body {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    

}






h2 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
    
}

.center {
    text-align: center;
    margin-top: 0px;
    font-size: 12px;
}



.header {
    padding-top: 20px;
}


.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}






img {
   width: 210px;
   height: 320px;
    padding-top: 0px;
}

.item {
    flex-wrap: wrap;
}



.relaxed {
    display: inline;
}


.tee {
    
    
    padding-top: 0px;
    line-height: 0px;
    justify-content: center;
    border: 1px solid rgb(214, 214, 214);
    border-left: 1px solid rgb(214, 214, 214);
    margin-top: 30px;

    
}


.self {
    
    align-items: center;
    flex-wrap: nowrap;
    
    
}


.red {
    color: red;
    font-weight: bold;
}


.line {
    text-decoration: line-through;
}

